In [8]:
a = [1,2,3,4,10]
b = a

In [9]:
b[0] = 200

In [10]:
b

[200, 2, 3, 4, 10]

In [11]:
a

[200, 2, 3, 4, 10]

In [12]:
a = 10

In [13]:
type(a)

int

In [18]:
b = "a"
type(b)

str

In [15]:
c = 1.23433
type(c)

float

In [16]:
d = True
type(d)

bool

In [21]:
a = 10
b = 20.4
c = a + b
type(c)

float

In [24]:
a = 23456789098765432456789087654323456

In [25]:
type(a)

int

In [28]:
b = a ** 100

In [30]:
type(b)

int

In [31]:
# LIST

In [32]:
li = [12, "Kunal Kushwaha", 87.5, True]

In [38]:
li2 = li

In [39]:
li2[1] = "Anuj Bhaiya"

In [40]:
li2

[12, 'Anuj Bhaiya', 87.5, True]

In [41]:
li

[12, 'Anuj Bhaiya', 87.5, True]

In [42]:
tu = (23, 34, 54)

In [43]:
tu[0] = 89

TypeError: 'tuple' object does not support item assignment

In [44]:
s = "Code for Cause"

In [45]:
s[0] = 'I'

TypeError: 'str' object does not support item assignment

In [46]:
a = "Kunal"
a = "Anuj"

In [47]:
tu = ([3,45], [5, 60])
tu[0][0] = 90

In [48]:
tu

([90, 45], [5, 60])

In [49]:
tu[0] = 56

TypeError: 'tuple' object does not support item assignment