# Objective Oriented programming

In [2]:
class Human:
    name = ""
    age = 0
    salary = 0

In [13]:
kunal = Human()
# i dont like this
kunal.name = "Kunal Kushwaha"
kunal.age = 45
kunal.salary = 10000

In [7]:
anuj = Human()
anuj.name = "Anuj Garg"
anuj.age = 60
anuj.salary = 20000

In [8]:
kunal.name

'Kunal Kushwaha'

In [10]:
ekta = Human()

In [11]:
ekta.name

''

In [12]:
ekta.age

0

In [27]:
class Human:
    population = 0
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
        Human.population += 1

In [28]:
kunal = Human("Kunal Kushwaha", 45, 1000)

In [29]:
kunal.population

1

In [30]:
rahul = Human("Rahul Rana", 30, 20000)

In [31]:
kunal.population, rahul.population

(2, 2)

In [32]:
kunal.population = kunal.population + 1

In [33]:
kunal.population, rahul.population

(3, 2)

In [35]:
ekta = Human("Ekta", 40, 90909)
ganga = Human("Ganga", 30, 67867)
karan = Human("Karan", 70, 79078698)

In [36]:
rahul.population, ekta.population, ganga.population, karan.population

(6, 6, 6, 6)

In [37]:
kunal.population

3

In [38]:
pranshul = Human("Pranshul", 19, 202020)

In [39]:
rahul.population, ekta.population, ganga.population, karan.population

(7, 7, 7, 7)

In [40]:
kunal.population

3