In [1]:
# for loops

In [7]:
list(range(1, 11, 3))

[1, 4, 7, 10]

In [11]:
li = ["Kunal", 10, 35.4]

In [12]:
for i in li:
    print(i)

Kunal
10
35.4

In [15]:
for index, value in enumerate(li):
    print(index, value)

0 Kunal
1 10
2 35.4

In [16]:
# 1 to 10 tables in one line of code

In [17]:
# table of 2

In [23]:
table = [i * 2 for i in range(1, 11)]

In [24]:
table

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [30]:
tables = [[i * j for i in range(1, 11)] for j in range(1, 11)]

In [31]:
tables

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]